# Default ignored files
/shelf/
.idea
env
target
target/
devGringottsTool_bot
devGringottsTool_bot.wal.0
src/main/resources/token/client_secret_266641561922_5llknmfdn3oam08tgf3vbjunjg87t8qk_apps.json
*.iws
*.iml
*.ipr
logs
Auth.env
src/main/resources/token
tokens_dev
tokens
token
/StoredCredential
run.sh
temp